@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:focus {
    outline: 0;
  }

  body {
    min-height: 100vh;
    @apply bg-canvas-100 font-roboto;
  }

  h1 {
    @apply text-2xl mb-2;
  }

  table {
    @apply table-auto w-full;
    border-spacing: 0 15px;
  }

  thead {
    @apply text-left uppercase bg-gray-100 text-gray-500 rounded-md mb-2 text-xs;
  }

  th,
  td {
    @apply p-1;
    @apply text-center;
  }
}

@layer components {
  .card {
    @apply p-4 bg-canvas-50 rounded-md shadow-canvas-300 drop-shadow-md border-t-2 border-t-green-600;
  }

  .chip {
    @apply border rounded-3xl px-3 py-1 border-blue-400 text-blue-400 bg-blue-50;
  }

  .modal {
    @apply fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50;
  }

  .backtick {
    @apply bg-gray-100 text-orange-700 rounded-md p-1 border border-orange-700 font-mono w-fit m-1;
  }

  .key {
    @apply bg-gray-100 text-gray-700 rounded-md p-1 border border-gray-700 font-mono w-fit m-1;
  }

  .divider {
    @apply border-b border-gray-300 my-8;
  }

  .text-hint {
    @apply text-orange-700 mx-1 lowercase font-bold;
    font-size: 0.6rem;
  }
}
