@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:focus {
    outline: 0;
  }

  body {
    min-height: 100vh;
    @apply bg-canvas-100 font-roboto;
  }

  h1 {
    @apply text-2xl mb-2;
  }

  table {
    @apply table-auto w-full;
    border-spacing: 0 15px;
  }

  thead {
    @apply text-left uppercase bg-gray-100 text-gray-500 rounded-md mb-2 text-xs;
  }

  th,
  td {
    @apply p-1;
    @apply text-center;
  }
}

@layer components {
  .card {
    @apply p-4 bg-canvas-50 rounded-md shadow-canvas-300 drop-shadow-md border-t-2 border-t-green-600;
  }
}
