@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:focus {
    outline: 0;
  }

  body {
    min-height: 100vh;
    @apply bg-canvas-100 font-mono;
  }

  h1 {
    @apply text-xl mb-2;
  }

  table {
    @apply table-auto w-full;
    border-spacing: 0 15px;
  }

  thead {
    @apply text-left uppercase bg-gray-100 text-text-secondary rounded-md mb-2 text-sm;
  }

  th,
  td {
    @apply p-1;
  }
}

@layer components {
  .card {
    @apply p-4 bg-canvas-50 rounded-md m-2 shadow-canvas-300 drop-shadow-sm;
  }
}
